.app {
    height: 100vh;
}

.app main {
    height: calc(100vh - 90px);
}

.app footer {
    height: 100%;
    max-height: 90px;
    background-color: #282828;
}

main .sidebar {
    background: #000;
}

main .content {
    background: #141922;
    overflow-y: scroll;
    height: 100%;
}

.content nav {
    height: 100px;
    opacity: 1;
    border: 1px solid #fff;
}